# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Conf
.env

# OS files
.DS_Store
._*
.Spotlight-V100
.Trashes
